language = "python3"
run = "uvicorn app.main:app --host 0.0.0.0 --port 8080"

[packager]
language = "python3"

[packager.features]
packageSearch = true
guessImports = true

[[pins]]
name = "fastapi"
version = "0.103.2"

[[pins]]
name = "uvicorn"
version = "0.23.2"

[env]
PYTHONPATH = "/app/backend"
